<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/es" class="w3-bar-item w3-button">Encuéntrame un Whiskey</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/es" class="w3-bar-item w3-button">Inicio</a>
      <a href="/como-funciona" class="w3-bar-item w3-button">Cómo Funciona</a>
      <a href="/contacto" class="w3-bar-item w3-button">Sobre Mí</a>
      <a href="/" class="w3-bar-item w3-button">En</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="static/images/About-banner.png" alt="Whiskey Banner" width="1600" height="200">
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
<h1 class="w3-center">Sobre Mí</h1>

    <div class="w3-col l6 w3-padding-large">
      <p class="w3-large w3-text w3-hide-medium", 
      style="text-align: justify; text-justify: inter-word;">
      Soy Daniela Carrasco-Núñez, astrónoma reformada, ahora científica de datos.
Obtuve una Licenciatura en Astronomía en la 
Pontificia Universidad Católica de Chile, dónde también cursé 
un Magíster. En el año 2013, pasé 6 meses en McGill University en Montreal. 
Posteriormente me mudé a Melbourne para cursar un PhD en Astrofísica.
El 2019 me gradué de University of Melbourne.</p>
      </div>
    <div class="w3-col l5 w3-padding-large">
      <img class="w3-image" src="static/images/Headshot_mod.png" width="200" height="300">
     <br>
     <br>
     <br>
      </div>
<h1 class="w3-center">Contacto</h1>
      <p class="w3-large w3-text w3-hide-medium", style="text-align: center;">Contáctame!</p>

      <p class="w3-large w3-text-grey w3-hide-medium", style="text-align: center;">E-mail</p>
      <p class="w3-large w3-text w3-hide-medium", style="text-align: center;"><a href="url">daniela.carrasco.nunez@mg.thedataincubator.com</a></p>
      <p class="w3-large w3-text-grey w3-hide-medium", style="text-align: center;">LinkedIn</p>
      <p class="w3-large w3-text w3-hide-medium", style="text-align: center;"><a href="url">https://www.linkedin.com/in/dp-carrasco/</a></p>
      <p class="w3-large w3-text-grey w3-hide-medium", style="text-align: center;">Github</p>
      <p class="w3-large w3-text w3-hide-medium", style="text-align: center;"><a href="url">https://github.com/danielacarrasco</a></p>
      
     
  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Creado por Daniela Carrasco-Núñez</p>
</footer>

</body>
</html>