<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.checked {
  color: orange;
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/es" class="w3-bar-item w3-button">Encuéntrame un Whiskey</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/es" class="w3-bar-item w3-button">Inicio</a>
      <a href="/como-funciona" class="w3-bar-item w3-button">Cómo Funciona</a>
      <a href="/contacto" class="w3-bar-item w3-button">Sobre Mí</a>
      <a href="/" class="w3-bar-item w3-button">En</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="static/images/banner-4.png" alt="Whiskey Banner Es" width="1600" height="200">
</header>


  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
  
    <div class="w3-col l9 w3-padding-small">
    <h1 class="w3-center">Tus Sugerencias</h1><br>
      <p class="w3-large w3-text-grey w3-hide-medium">A continuación una lista de whiskeys que contienen tus sabores elegidos.
      <div class="w3-container w3-white">
        <ol> 
        <!-- For loop logic of jinja template -->
        {%for i in range(0, len)%} 
            <p style="font-size:1.2vw"><b>{{whiskeys[i]}}</b></p> 
            <p class="w3-text-grey">{{cat[i]}}</p> 
            <p class="w3-text-grey">{{price[i] | currencyFormat}}</p> 
            {%if review[i] >= 92 %} 
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span></p>
            {%elif review[i] >= 85.5 and review[i] < 92 %} 
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span></p>
            {%elif review[i] >= 78 and review[i] < 85.5 %} 
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
            {%elif review[i] >= 70.5 and review[i] < 78 %} 
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
            {%elif review[i] < 70.5 %} 
              <p><span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span></p>
            {%endif%}
        {%endfor%} 
          
        </ol> 

   </div>
   </div>

   
    <div class="w3-col l2 w3-padding-large">
      <form form id='form' method='post' action='/recommendations'><br><br><br><br><br>
          <label for="price">Filtra por rango de precio:</label>
              <p><select name="price" id="price" multiple>
                <option value="low">$ ($0 - $99)</option>
                <option value="mid">$$ ($100 - $199)</option>
                <option value="high">$$$ ($200 or more)</option>
              </select></p>
                  <br><br>
            <input type="submit" value="Enviar">
    </form>

</div>
   
 
<!-- End page content -->
</div>



<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Creado por Daniela Carrasco-Núñez</p>
</footer>

</body>
</html>